.nosotros {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 20px;
}

.cont_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #de2c2f;
    padding: 20px;
    max-width: 420px;
}