/*--------------------CSS RESET Y TIPOGRAFÍA-------------------*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #eaeaea;
}

main {
    position: relative;
}

/*--------------------ANIMACION SCROLL-------------------*/
article {
    animation: fade linear both;
    animation-timeline: view(block);
    animation-range: cover 0% cover 30%;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.escondido { /*SLIDE DERECHA -> CENTRO*/
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.mostrar { /*SLIDE DERECHA -> CENTRO*/
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.escondido-1 { /*SLIDE ABAJO -> CENTRO*/
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.mostrar-1 { /*SLIDE ABAJO -> CENTRO*/
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
/*--------------------PRELOAD-------------------*/

/*--------------------LOGO-------------------*/
.logo {
    max-height: 55px;
}

/*--------------------HEADER TOP------------------*/
.header-top {
    background: #ced4da;
    font-size: 17px;
    text-decoration: none;
    padding: 5px 0 5px;
}

.data_header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 78%;
}

.contendor_data_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cto_header_top a {
    color: #333333;
    padding: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.cto_header_top a:hover,
.np_nosotros a:hover {
    color: #de2c2f;
}

.social a .bx{
    font-size: 22px;
    color: #333333;
    transition: 0.3s;
}
.social a .bx:hover {
    color: #de2c2f;
}

/*--------------------HEADER BOTTOM / BARRA DE NAVEGACIÓN-------------------*/
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*no sé como pero da un diseño + responsivo que space-between*/
    padding: 10px 0 10px;
    background: #eaeaea;
}

.navbar_link {
    position: relative;
    /*ME PERMITE ESCONDER EL DROPDOWN*/
    display: flex;
    font-size: 16px;
    color: #333333;
}

.navbar_link ul li {
    display: inline-block;
}

.navbar_link li a {
    padding: 10px;
    color: #333333;
}

.navbar_link a:hover,
.navbar_link a.active {
    color: #de2c2f;
    transition: 0.3s;
}

.navbar_link ul li ul a:hover {
    color: #de2c2f;
}

.navbar_link ul li:hover ul.drowpdown_lista {
    display: block;
}

.navbar_link ul li ul.drowpdown_lista {
    position: absolute;
    padding: 20px;
    background: #eaeaea;
    z-index: 10;
    display: none;
    border-radius: 8px;
}

.dropdown_titulo {
    padding: 10px 0 10px;
    font-weight: bold;
    font-size: 17px;
}

.dropdown_prop {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 1.8;
}

.dropdown_prop li a {
    padding: 0;
}

.dropdown_cont {
    display: inline-block;
    padding: 0 10px;
}

.btn_user a {
    padding: 10px;
}

#mostrar_popup_li {
    color: #333333;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: transparent;
}

#mostrar_popup_sp {
    cursor: pointer;
}

.btn_user .registrate {
    color: #FFF;
    background: #de2c2f;
    border: 2px solid #de2c2f;
    border-radius: 8px;
    transition: 0.3s;
}

.btn_user .registrate:hover {
    background: transparent;
    color: #333333;
}

.toggle_button {
    position: absolute;
    top: 56px;
    right: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 35px;
}

.toggle_button .bar {
    height: 4px;
    width: 100%;
    background-color: #333333;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.x:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: top left;
    width: 45px;
  }
  
.x:nth-of-type(2) {
    opacity: 0;
}
  
.x:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 45px;
} 
/*--------------------POPUP INICIO DE SESIÓN-----------------*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /*Color de fondo oscuro semitransparente*/
    z-index: 999;
    /*Me asegura que este por encima de todo menos el popup*/
}

.overlay.active {
    display: block;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
}

.signup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
}
#term_cond{
    display: flex;
    align-items: center; 
}

#term_cond label {
    display: flex;
    align-items: center;
    font-size: 15px;
}
#term_cond label a{
    margin-left: 5px;
    font-size: 15px;
}
.popup.active {
    display: block;
    z-index: 1000;
}

.popup .cerrar_btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: #de2c2f;
    color: #fff;
    text-align: center;
    border: 1px solid #de2c2f;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: 0.3s;
}

.popup .cerrar_btn:hover {
    background: transparent;
    color: #333333;
}

.popup .form h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 10px;
    font-size: 25px;
}

.popup .form p {
    text-align: center;
    color: #222;
    margin: 10px 0px 10px;
    font-size: 15px;
    font-style: italic;
}

#registrar, #iniciar_sesion {
    color: #1a79ca;
    font-weight: 600;
}

#checkbox {
    cursor: pointer;
}

.popup .form .elementos_form {
    margin: 15px 0px;
}

.popup .form .elementos_form label {
    font-size: 16px;
    color: #222;
}

.popup .form .elementos_form input[type="text"],
.popup .form .elementos_form input[type="password"] {
    display: block;
    width: 356px;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
}

.popup .form .elementos_form input[type="checkbox"] {
    margin-right: 5px;
}

.popup .form .elementos_form button {
    width: 100%;
}

.popup .form .elementos_form a {
    display: block;
    text-align: right;
    font-size: 16px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

.popup.active,
.overlay.active {
    animation: fade-in 0.5s forwards;
}

.popup.closing, .overlay.closing {
    animation: fade-out 0.5s forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-up { /*Todavía no implementada */
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*--------------------HOME o MAIN-------------------*/
article h2 {
    font-size: 27px;
}

.contenido {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/edificios_buscador.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 426px;
    color: #FFF;
    padding: 50px;
    margin-bottom: 50px;
}

.contenido h1 {
    color: #FFF;
    font-size: 50px;
    font-weight: 550;
    filter: drop-shadow(0px 0px 5px #000);
    padding-bottom: 10px;
}

#cursor {
    font-size: 45px !important;
    font-weight: 400 !important;
    animation: parpadeo 1s linear infinite;
}

@keyframes parpadeo {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 0%;
    }
}

.contenido p {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}

/*BUSCADOR DE PROPIEDADES Y TITULO DE INICIO*/
.form_contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #333333;
}

.form_contenedor form {
    display: flex;
    flex-wrap: wrap;
    /*LE DA UN DISEÑO "RESPONSIVO" no sé como ... pero funca*/
    align-items: center;
    gap: 16px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    border-top-left-radius: 0;
}

.busqueda {
    display: inline-flex;
    align-items: center;
    max-width: 380px;
    gap: 16px;
    background-color: #FFF;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.type-btn {
    padding: 12px 24px;
    background-color: #FFF;
    color: #333333;
    font-weight: 500;
    border: 0px;
    font-size: 16px;
    transition: 0.25s ease;
}

.type-btn:is(:hover, :focus) {
    color: #de2c2f;
    cursor: pointer;
}

.input-box {
    flex: 16 16 112px;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 600;
}

.input-box input {
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eeeff1;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#ubicacion {
    cursor: text;
}

.precio,
.min_dorm,
.tipo_alquiler {
    font-weight: 600;
}

.lista {
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eeeff1;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn_submit {
    flex: 16 16 112px;
    padding: 10px 34px;
    border: none;
    border-radius: 8px;
    background: #de2c2f;
    border: 2px solid #de2c2f;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.btn_submit:hover {
    background: transparent;
    color: #333333;
    cursor: pointer;
}

.form-btn {
    padding: 16px;
}

/*GRID SERVICIOS OFRECIDOS*/
#more_flecha {
    font-size: 20px;
}
.container_servicios { 
    margin: 0 auto;
    max-width: 1420px; 
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "hipoteca mudanza tasacion soporte-legal";
  }
  
.hipoteca { grid-area: hipoteca; }
  
.mudanza { grid-area: mudanza; }
  
.tasacion { grid-area: tasacion; }
  
.soporte-legal { grid-area: soporte-legal; }

.container_servicios > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
}

.container_servicios > div .bx {
    color: #242424;
    font-size: 100px;
}

.desc_contenedores_serv h3 {
    margin: 20px 0 15px 0;
}

.desc_contenedores_serv {
    color: #222;
}

.desc_contenedores_serv p {
    padding: 0 10px 0;
}

.contenedor_desc_serv {
    transition: 0.3s;
}

.container_servicios .contenedor_desc_serv:hover {
    cursor: pointer;
    transform: translateY(-15px);
}

/*GRID LUGARES POPULARES*/
.grid_lugares_popu {
    margin: 0 auto;
    max-width: 1420px;
    max-height: 877px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Rosario Cordoba Cordoba"
      "Buenos-aires Buenos-aires Mar-del-plata";
    overflow: hidden;
}

.Rosario { grid-area: Rosario; position: relative;}
  
.Cordoba { grid-area: Cordoba; position: relative; transition-delay: 0.1s;}
  
.Buenos-aires { grid-area: Buenos-aires; position: relative; transition-delay: 0.2s;}
  
.Mar-del-plata { grid-area: Mar-del-plata; position: relative; transition-delay: 0.3s;}

.grid_lugares_popu > div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.grid_lugares_popu > div img {
    width: 1050px; /*La imagen se ajusta al ancho del div*/
    /*Asegura la relación de aspecto*/
    height: auto; 
    position: relative;
}

.grid_lugares_popu .overlay_lug {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(31, 0, 31, 0.192), rgba(31, 8, 8, 0.452));
    z-index: 1;
    transition: 0.3s;
}

.grid_lugares_popu .overlay_lug:hover {
    transform: scale(1.07);
}

.grid_lugares_popu .overlay_lug:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(31, 0, 31, 0.37), rgba(161, 46, 46, 0.37));
    z-index: 2;
    transition: opacity 0.3s;
    opacity: 0;
}

.grid_lugares_popu .overlay_lug:hover:after {
    opacity: 0.5;
  }

.overlay_lug h3, .overlay_lug p {
    letter-spacing: 2px;
    color: #FFF;
    font-size: 26px;
}

/*PROPIEDADES DESTACADAS (DESCRIPCIÓN Y CARTAS)*/
.propiedades_destacadas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#propiedades_destac h2 {
    padding: 0 0 0 50px;
    border-left: 6px solid #de2c2f;
}

.contenedor_title_prop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#first_desc {
    padding: 10px 0 20px;
}

.propiedades_destacadas button {
    width: 48px;
    height: 48px;
    background: #de2c2f;
    color: #fff;
    border: 1px solid #de2c2f;
    border-radius: 50%;
    font-size: 45px;
    cursor: pointer;
    transition: 0.3s;
    margin: 0 20px;
}

.propiedades_destacadas button:hover {
    background: transparent;
    color: #333333;
}

.container-tarjetas-prop {
    max-width: 1420px;
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.tarjeta_prop {
    background-color: transparent;
    border-radius: 12px;
    max-width: 307px;
    /*n° magico que saque de no sé donde*/
    min-height: 510px;
    overflow: hidden;
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 2px 15px 15px 0 rgba(0, 0, 0, .1);
}

.tarjeta_prop figure {
    overflow: hidden;
}

.tarjeta_prop figure img {
    width: 100%;
    min-height: 232.47px;
    transition: 0.2s linear;
}

.tarjeta_prop figure img:hover {
    transform: scale(1.1);
}

.desc_prop {
    /*YA FUNCIONA ESTO LETS GOOOOO, por alguna razón la descripción de la carta no ocupada el resto inferior de tarjeta_prop*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 307.53px;
}

.titulo_tarjeta_prop {
    padding: 20px;
    text-align: center;
}

.titulo_tarjeta_prop a h3 {
    color: #333333;
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

#ubicacion_carta {
    text-align: left;
}

.int_desc_prop {
    padding: 0 20px;
}

#tipo_prop_carta {
    padding-bottom: 10px;
}

.titulo_tarjeta_prop h3:is(:hover, :focus) {
    color: #de2c2f;
    transition: .3s;
}

.prop_interior {
    display: inline-flex;
    padding: 15px 0 15px;
}

.prop_interior span {
    margin: 2px;
}

.precio_btn {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#item_precio {
    font-size: 19px;
    font-weight: bold;
}

.espaciador {
    display: block;
    margin: 90px auto;
    max-width: 170px;
    height: 2px;
    background-color: #de2c2f;
}

/* NUESTRO EQUIPO DE ANIMALES EXPERTOS */
.contendor_tarjetas_nosotros .dos{
    transition-delay: 0.2s;
}

.contendor_tarjetas_nosotros .tres{
    transition-delay: 0.4s;
}

.contendor_tarjetas_nosotros .cuatro{
    transition-delay: 0.6s;
}

.contenedor_div_grid {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.titulo_div_grid {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
    align-items: center;
}

.titulo_div_grid h1 {
    border-left: 6px solid #de2c2f;
    padding: 0 0 0 50px;
}

.titulo_div_grid>div a {
    color: #333333;
    font-size: 18px;
}

.contendor_tarjetas_nosotros {
    padding: 10px;
    display: grid;
    gap: 30px;
    justify-content: center;
}

.tarjetas_ind_nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9e9e9;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 2px 15px 15px 0 rgba(0, 0, 0, .1);
    height: 380px;
    width: 328px;
}

.foto_experto_inicio {
    padding: 20px;
}

.foto_experto_inicio img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    transition: 0.3s;
}

.foto_experto_inicio img:hover {
    transform: scale(1.1);
}

.np_nosotros {
    padding-bottom: 10px;
    text-align: center;
    line-height: 1.5;
}

.np_nosotros a {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

.detalles_expertos {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

/*TESTIMONIOS DE NUESTROS AMIGOS CUADRUPEDOS*/
.testimonios_contenedor {
    max-width: 1420px;
    height: 321px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "testimonio-1 testimonio-2 testimonio-3 testimonio-4 testimonio-5";
  }
  
  .testimonio-1 { grid-area: testimonio-1; }
  
  .testimonio-2 { grid-area: testimonio-2; transition-delay: 0.2s;}
  
  .testimonio-3 { grid-area: testimonio-3; transition-delay: 0.4s;}
  
  .testimonio-4 { grid-area: testimonio-4; transition-delay: 0.6s;}
  
  .testimonio-5 { grid-area: testimonio-5; transition-delay: 0.8s;}

.testimonios {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    box-shadow: 2px 15px 15px 0 rgba(0, 0, 0, .1);
}

.autor_desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

.autor_desc img {
    border: 5px solid #de2c2f;
    border-radius: 50%;
}

.testimonios .bx {
    font-size: 100px;
    padding-bottom: 10px;
    color: #de2c2f;
    opacity: 0.2;
    transition: 0.3s;
}

.testimonios .bx:hover {
    transform: scale(1.1);
}

#quote {
    padding: 10px;
}

/*COMPAÑEROS*/
.logos {
    overflow: hidden;
    white-space: nowrap;
    padding: 30px 0;
}

.logos:before, .logos:after {
    position: absolute;
    width: 200px;
    height: 84px;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, transparent, #eaeaea);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, transparent, #eaeaea);
}

.logos:hover .slide_logos {
    animation-play-state: paused;
}

.slide_logos {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.slide_logos img {
    height: 80px;
    margin: 0 30px;
    opacity: 0.6;
    transition: 0.3s;
}

.slide_logos img:hover {
    opacity: 1;
    cursor: pointer;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}
/*--------------------FOOTER-------------------*/
footer {
    background: #d1d1d1;
    margin-top: 60px;
}

.footer_contenedor {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 135px;
    padding: 30px;
}

.titulo_cf h3 {
    padding-bottom: 10px;
}

.lista_footer li a {
    line-height: 24px;
    text-decoration: none;
    color: #333333;
    transition: 0.3s;
}

.lista_footer li a:is(:hover, :focus) {
    color: #de2c2f;
}

.form_newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.email_newsletter input {
    width: 300px;
    height: 41px;
    background-color: #FFF;
    display: block;
    width: 356px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
}

.social_footer {
    padding: 10px 0 10px;
}

.social_footer a {
    font-size: 35px;
    color: #333333;
    transition: 0.3s;
}
.social_footer a:hover {
    color: #de2c2f;
}
/*--------------------MEDIA QUERIES-------------------*/

.uno {
    grid-area: uno
}

.dos {
    grid-area: dos
}

.tres {
    grid-area: tres
}

.cuato {
    grid-area: cuatro
}

.contendor_tarjetas_nosotros {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "uno dos tres cuatro";
}

@media (max-width: 1500px) {
    .contendor_tarjetas_nosotros {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "uno dos"
            "tres cuatro";
    }

    .container-tarjetas-prop{
        grid-template-columns: auto auto;
    }
}

@media (max-width: 800px) {
    .contendor_tarjetas_nosotros {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "uno"
            "dos"
            "tres"
            "cuatro";
    }
    .container-tarjetas-prop{
        grid-template-columns: auto;
    }
}

@media (max-width: 1430px) {}

@media (max-width: 1184px) {
    .toggle_button {
        display: flex;
    }

    .navbar_link {
        display: none;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }

    .navbar_link.active {
        display: flex;
    }
   
    .navbar_link .btn_user {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .header-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    #mostrar_popup_li{
        padding: 10px;
    }

    .navbar_link .btn_user {
        align-items: center !important;
        border-bottom: 1px solid rgb(203, 214, 220);
        border-top: 1px solid rgb(203, 214, 220);
        padding-bottom: 12px;
        margin-top: 10px;
    }

    .navbar_link .btn_user .registrate {
        width: 90%;
    }

    .navbar_ul {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        width: 100%;
        padding: 12px 0;
    }
   
    .navbar_link li {
        text-align: center;
        padding: 5px 1rem;
    }

    .logo {
        padding-left: 40px;
    }

    .contendor_data_header {
        padding-right: 40px;
    }

}

@media (max-width: 850px) {
    .texto_serv_desc {
        max-width: 450px;
    }

}