/*--------------------CSS RESET Y TIPOGRAFÍA-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #eaeaea;
}

main {
    position: relative;
}

header {
    z-index: 1000;
}
/*--------------------PRELOAD-------------------*/

/*--------------------LOGO-------------------*/
.logo {
    max-height: 55px;
    max-width: 100%;
}
/*--------------------HEADER TOP------------------*/
.header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ced4da;
    font-size: 17px;
    text-decoration: none;
    padding-right: 175px;
}

.header-top a{
    padding: 5px;
}

.data_header {
    display: inline-flex;
    
}

.email a {
    text-decoration: none;
    color: #222;
    padding: 5px;
}

.phone a {
    text-decoration: none;
    color: #222;
}

.email a:hover, .phone a:hover {
    color: #de2c2f;
}

.social .bx{
    font-size: 23px;
    display: inline-block;
    color: #222;
}

/*--------------------HEADER BOTTOM / BARRA DE NAVEGACIÓN-------------------*/
.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0 10px;
    background: #eaeaea;
}

.navbar_pc {
    display: flex;
    font-size: 16px;
    color: #222;
}

.navbar_pc ul li {
    display: inline-block;
}

.navbar_pc li a {
    padding: 10px;
    color: #222;
}

.navbar_pc a:hover, .navbar_pc a.active {
    color: #de2c2f;
}

.btn_user a {
    padding: 10px;
}

.btn_user .iniciar_sesion {
    color: #222;
}

.btn_user .registrate{
    color: #FFF;
    background: #de2c2f;
    border: 2px solid #de2c2f;
    border-radius: 8px;
    transition: 0.3s;
}
.btn_user .registrate:hover{
    background: transparent;
    color: #222;
}

/*--------------------HOME o MAIN-------------------*/
.contenido {
    padding: 0;
    background-image: url(/img/edificios_buscador.jpg);
    width: 1478px;
    height: 426px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 50px;
}

.contenido h1 {
    color: #FFF;
    font-size: 35px;
    font-weight: bold;
    filter: drop-shadow(0px 0px 5px #000);
    padding: 10px;
} 

.contenido p {
    padding-bottom: 30px;
    color: #de2c2f;
}

/*BUSCADOR DE PROPIEDADES Y TITULO DE INICIO*/
.form_contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #222;
}

.form_contenedor form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 8px;
    border-top-left-radius: 0;
}

.busqueda{
    display: inline-flex;
    align-items: center;
    width: 380px;
    gap: 16px;
    background-color: #FFF;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.type-btn {
    padding: 12px 24px;
    background-color: #FFF;
    color: #222;
    font-weight: 500;
    border: 0px;
    font-size: 16px;
    transition: 0.25s ease;
}

.type-btn:is(:hover, :focus){
    color: #de2c2f;
    cursor: pointer;
}

.input-box {
    flex: 16 16 112px;
    display: flex;
    flex-direction: column;
}

.input-box span {
    font-weight: 600;
}

.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eeeff1;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#ubicacion {
    cursor: text;
}

.precio, .min_dorm, .tipo_alquiler {
    font-weight: 600;
}

.lista {
    padding: 7px;
    outline: none;
    border: none;
    background-color: #eeeff1;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.form_contenedor form .btn_submit {
    flex: 16 16 112px;
    padding: 10px 34px;
    border: none;
    border-radius: 8px;
    background: #de2c2f;
    border: 2px solid #de2c2f;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.form_contenedor form .btn_submit:hover{
    background: transparent;
    color: #222;
    cursor: pointer;
} 

.form-btn{
    padding: 16px;
}

/*PROPIEDADES DESTACADAS (DESCRIPCIÓN Y CARTAS)*/
.propiedades_destacadas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 175px;
}

.propiedades_destacadas h2{
    padding-top: 20px;
}

#first_desc {
    padding-bottom: 20px;
}

.grid-container_destac {
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    background-color: transparent;
    gap: 10px;
}

.carta_prop {
    background-color: transparent;
    border-radius: 12px;
    width: 306.656px;
    height: 510px;
    border: 1px solid rgb(209, 209, 209);
    overflow: hidden;
}

.carta_prop figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 232.47px;
}

.desc_prop {
    padding: 20px;
}

.desc_prop h3{
    text-align: left;
    font-weight: bold;
    padding-bottom: 10px;
}

#ubicacion_carta {
    text-align: left;
    padding-bottom: 10px;
}

#tipo_prop_carta {
    padding-bottom: 10px;
}

.desc_prop h3:is(:hover, :focus){
    color: #de2c2f;
    cursor: pointer;
}

.prop_interior {
    display: inline-flex;
    align-items: center;
    padding: 15px 0 15px;
}

.prop_interior span{
    margin: 2px;
}

.precio_btn{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#item_precio {
    text-align: left;
    font-weight: bold;
}
.precio_btn .detalles_btn a {
    padding: 20px;
    text-decoration: none;
    color: #FFF;
}

.detalles_btn {
    background: #de2c2f;
    border: 2px solid #de2c2f;
    border-radius: 8px;
    transition: 0.3s;
}

.detalles_btn a:hover{
    color: #222;
    background: transparent; 
}

/*--------------------FOOTER-------------------*/

/*--------------------MEDIA QUERIES-------------------*/
