.error_404 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_404_text {
    color: #dddddd;
}

.error_404_text h2 {
    font-size: 200px;
}

.error_404_text h3 {
    font-size: 25px;
}

footer {
    margin-top: 0;
}