.error_404 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error_404_text {
    color: #dddddd;
}

.error_404_text h2 {
    font-size: 200px;
}

.error_404_text h3 {
    font-size: 25px;
}

/* #ojos, #ojos img {
    position: absolute;
    height: 16px;
}
 */

footer {
    margin-top: 0;
}

/*--------MEDIA QUERIES-----------*/

@media (max-width: 1365px){
    .error_404 {
        display: flex;
        flex-direction: column;
    }
}